In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('train.csv')

In [11]:
df.columns = ['uid', 't', 'd', 'x', 'y']
df

        uid   t     d      x     y
0     50001   1   1.0  122.0  41.0
1     50001   2   1.0  123.0  41.0
2     50001   5   1.0  123.0  41.0
3     50001  12   1.0  123.0  41.0
4     50001  15   1.0  122.0  41.0
...     ...  ..   ...    ...   ...
3128  50129  31  30.0   40.0  19.0
3129  50129   4  31.0   42.0  19.0
3130  50129   7  32.0   42.0  19.0
3131  50129  11  33.0   42.0  18.0
3132  50129  23  34.0   42.0  18.0

[3133 rows x 5 columns]

In [12]:
df["d"].unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133.])

In [13]:
train = df[df["d"]<=25]
test = df[df["d"]>25]

In [26]:
train.dropna(inplace=True)
test.dropna(inplace=True)

/tmp/ipykernel_68280/1605590490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.dropna(inplace=True)
/tmp/ipykernel_68280/1605590490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(inplace=True)

In [28]:
train = train.astype(dtype = {'uid': 'int64', 't': 'int64', 'd': 'int64', 'x': 'int64', 'y': 'int64'})
test = test.astype(dtype = {'uid': 'int64', 't': 'int64', 'd': 'int64', 'x': 'int64', 'y': 'int64'})

In [14]:
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)

In [19]:
d_unique = train[train["uid"]==50001]["d"].unique()

In [20]:
d_unique[(d_unique >= np.min(d_unique)) & (d_unique <= np.max(d_unique) - 14)]

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.])