In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('train/train2_checkins_Nebraska.csv')
len(df)

2476

In [33]:
num_nunique = df['uid'].nunique()
print(num_nunique)

39

In [34]:
count = df.groupby('uid').size().reset_index(name='counts')
count_sorted = count.sort_values(by='counts', ascending=False)
# count = count_sorted['counts'] > 120
# # Imprimir o resultado
print(count_sorted)
# # Contar o número de registros por usuário
# count = df.groupby('uid').size().reset_index(name='counts')

# # Filtrar os usuários que têm no máximo 200 registros
# filtered_uids = count.query('counts <= 200')['uid']

# # Fazer merge com o DataFrame original para obter apenas os dados filtrados
# filtered_df = df[df['uid'].isin(filtered_uids)]

# # Imprimir o resultado
# print(filtered_uids)

        uid  counts
0      9324     120
3     31438     120
36  2150760     119
30   861702     107
5     54414     105
31  1195221     104
10   137721     102
2     13597      95
9    125817      91
26   303487      89
17   217605      88
6     55704      87
25   291734      80
15   174066      72
37  2153587      71
35  2130033      68
4     42003      64
33  1327490      60
21   252329      57
24   263269      54
7     76687      51
32  1303988      48
18   234506      47
23   262014      45
19   246615      44
11   138176      44
1     11374      43
16   208590      43
27   334602      39
29   396859      39
12   138894      39
14   158437      38
13   157093      36
8     79714      36
22   255904      33
28   374346      33
20   248214      30
34  2129847      27
38  2157470       8

In [35]:
df = pd.read_csv('test/test_checkins_Nebraska.csv')
len(df)

8617

In [36]:
df = pd.read_csv('test/test_checkins_Alaska.csv')
df.describe()
df2 = df.sample(3000)
df3 = df.sample(3000)
df['d'].max()
df['t'].max()

45

In [37]:
df = pd.read_csv('train/train_checkins_Alaska.csv')
df.describe()
df2 = df.sample(3000)
df3 = df.sample(3000)
df['t'].max()

45

In [38]:
df2 = df2.sort_values(by=['uid', 'd', 't'])
df2.to_csv("./train/sample_train_Alaska.csv")

In [39]:
df3 = df3.sort_values(by=['uid', 'd', 't'])
df3.to_csv("./test/sample_test_Alaska.csv")

In [40]:
sampledf = pd.read_csv("train/sample_train_Alaska.csv")
sampledf.describe()

,Unnamed: 0,uid,t,d,x,y
count,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000
mean,2878.045667,5.851957e+05,18.107667,5.433667,109.519333,41.626000
std,1669.239878,8.182638e+05,14.335035,4.052622,32.877418,11.615784
min,1.000000,1.890000e+02,0.000000,1.000000,3.000000,8.000000
25%,1425.750000,7.326600e+04,5.000000,2.000000,95.000000,41.000000
50%,2892.500000,2.226950e+05,18.000000,4.000000,96.000000,41.000000
75%,4315.500000,4.009600e+05,29.000000,8.000000,107.000000,42.000000
max,5778.000000,2.676824e+06,45.000000,15.000000,199.000000,93.000000