In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train/train_checkins_Connecticut.csv')
df['x'].max()

199

In [10]:
df = pd.read_csv('test/test_checkins_Alaska.csv')
df.describe()
df2 = df.sample(3000)
df3 = df.sample(3000)
df['d'].max()
df['y'].max()

93

In [4]:
df = pd.read_csv('train/train_checkins_Alaska.csv')
df.describe()
df2 = df.sample(3000)
df3 = df.sample(3000)
df['d'].max()

15

In [5]:
df2 = df2.sort_values(by=['uid', 'd', 't'])
df2.to_csv("./train/sample_train_Alaska.csv")

In [6]:
df3 = df3.sort_values(by=['uid', 'd', 't'])
df3.to_csv("./test/sample_test_Alaska.csv")

In [7]:
sampledf = pd.read_csv("train/sample_train_Alaska.csv")
sampledf.describe()

,Unnamed: 0,uid,t,d,x,y
count,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000
mean,2882.481000,5.751106e+05,18.077667,5.361000,110.523667,41.357667
std,1650.205711,8.070725e+05,14.214394,4.090182,33.354714,11.693673
min,3.000000,1.890000e+02,0.000000,1.000000,3.000000,8.000000
25%,1466.750000,7.347900e+04,5.000000,2.000000,95.000000,41.000000
50%,2872.500000,2.221650e+05,18.000000,4.000000,96.000000,41.000000
75%,4268.750000,3.920068e+05,29.000000,8.000000,107.000000,42.000000
max,5778.000000,2.676824e+06,45.000000,15.000000,199.000000,93.000000